<h2>Admin Dashboard</h2>

<hr />

<a href="/Product/Index"
   class="btn btn-primary">

    Manage Products

</a>

<a href="/Category/Index"
   class="btn btn-success">

    Manage Categories

</a>

<a href="/Order/Index"
   class="btn btn-warning">

    Orders

</a>

<a href="/Payment/Index"
   class="btn btn-info">

    Payments

</a>