@model ShopEase.Models.Payment

<h2>Payment Successful</h2>

<hr />

<h4>Payment Id : @Model.PaymentId</h4>

<h4>Amount : @Model.Amount</h4>

<h4>Mode : @Model.PaymentMode</h4>

<h4>Status : @Model.Status</h4>

<a href="/Home/Index" class="btn btn-primary">

    Home

</a>