@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome to ShopEase</h1>

    <br />

    <a href="/Admin/Login" class="btn btn-primary">
        Admin Login
    </a>

    <a href="/Account/Login" class="btn btn-success">
        Customer Login
    </a>

    <a href="/Product/Index" class="btn btn-warning">
        Products
    </a>
</div>
